html, body {
	height: 100%;
	width:  100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: #fff;
}

.auto-margin {
    margin: auto;
}


.widget {

}

.box {
    position: relative;
    height: 94%;
    width: 94%;
    left: 3%;
    top: 3%;
}

.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-areas:
        "spot1 spot2 spot3"
        "spot4 spot5 spot6"
        "spot7 spot8 spot9";
}

#Weather {
    text-align: center;
    font-family: 'Lemon', cursive;
}

#Reminder {
    font-family: 'Courgette', cursive;
    font-size: 150%;
}

#Horoscope {
    font-family: 'Montserrat Alternates', sans-serif;
}

#News {
    font-family: "Viga", sans-serif;
}

#Clcok {
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}

#Time {
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    text-align: center;
}

#Time span {
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    text-align: center;
}

#Date {
    letter-spacing:4px;
    font-size:14px;
    font-family:arial,sans-serif;
    text-align: center;
}

#spot1 {
    grid-area: spot1;
    align-self: start;
}

#spot2 {
    grid-area: spot2;
    align-self: start;
}

#spot3 {
    grid-area: spot3;
    align-self: start;
}

#spot4 {
    grid-area: spot4;
    align-self: center;
}

#spot5 {
    grid-area: spot5;
}

#spot6 {
    grid-area: spot6;
    align-self: center;
}

#spot7 {
    grid-area: spot7;
    align-self: end;
}

#spot8 {
    grid-area: spot8;
    align-self: end;
}

#spot9 {
    grid-area: spot9;
    align-self: end;
}
